<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Космические баталии</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

@include('partials/header')

<div class="row mx-3">
    <div class="col-lg-5 mx-auto">
        <div class="alert alert-primary mt-3" role="alert">
            Я использую cookie, и вы мне ничего не сделаете!
        </div>

        <div class="card mt-3">
            <div class="card-header">Ваши игры</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" href="game/create">Создать новую</a>

                @each(game in games)
                <a class="list-group-item list-group-item-action" href="/game/{{ game.id }}">{{ game.name }} <span class="text-muted">({{ game.players.join(", ") }})</span></a>
                @end
            </div>
        </div>
    </div>
</div>
</body>
</html>
