<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="/">Космические баталии 🚀</a>
        <div class="w-100 navbar-nav d-flex flex-row justify-content-between">
            <div class="nav-item">
                <a class="nav-link" href="/timer">Таймер</a>
            </div>
        </div>
    </div>
</nav>
