<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Космические баталии</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
@include('partials/header')

<div class="row mx-3">
    <div class="col-lg-5 mx-auto">
        <div class="card mt-3">
            <div class="card-header">Новая игра</div>

            <div class="card-body">
                <form action="/game/create" method="POST" id="game-create-form">

                    <div class="mb-3">
                        <label for="name" class="form-label">Название</label>

                        <div class="input-group mb-3">
                            <input id="name" name="name" type="text" class="form-control" required>
                            <button class="btn btn-outline-secondary" type="button" id="generate-game-name-btn">
                                придумать
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="player">Участники</label>

                        <div class="input-group mb-3">
                            <select id="player" name="player" class="form-select">
                                @each(user in users)
                                <option value="{{ user.id }}">{{ user.login }}</option>
                                @end
                            </select>

                            <select name="players" id="players" multiple class="d-none"></select>

                            <button class="btn btn-outline-secondary" type="button" id="add-player-btn">
                                добавить
                            </button>
                        </div>

                        <div id="players-list" class="d-none d-flex flex-row gap-3 flex-wrap card card-body"></div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">

                            <input class="form-check-input" type="checkbox" value="on" id="time-control" name="time-control" checked>

                            <label class="form-check-label" for="time-control">
                                контроль времени
                            </label>
                        </div>
                    </div>

                    <div class="row g-3 mb-3" id="time-control-settings">
                        <div class="col">
                            <label class="form-label" for="default-time-increase">Прибавка времени за ход</label>

                            <input type="number" min="0" id="default-time-increase" name="default-time-increase" class="form-control" value="45">
                        </div>
                        <div class="col">
                            <label class="form-label" for="fight-time-increase">Прибавка времени в бою</label>

                            <input type="number" min="0" id="fight-time-increase" name="fight-time-increase" class="form-control" value="10">
                        </div>
                    </div>

                    <div class="mb-0">
                        <button class="btn btn-primary" type="submit" id="submit-btn">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let players = [];

        let playersInput = document.getElementById('player');
        let playersList = document.getElementById('players-list');
        let playersInputForm = document.getElementById('players');

        for (let child of playersInput.children) {
            players.push({
                id: child.getAttribute('value'),
                login: child.innerHTML,
                selected: false
            });
        }

        let generateName = () => {
            let randomElement = (array) => {
                let random = Math.random();

                return array[Math.floor(random * array.length)];
            }

            let getDate = () => {
                return new Date().toLocaleDateString('ru-ru', {year: "numeric", month: "numeric", day: "numeric"});
            }

            // 0 - при ..., 1 - у ...
            let locations = [
                ['Марсе', 'Марса'],
                ['Венере', 'Венеры'],
                ['Малой Медведице', 'Малой Медведицы'],
                ['Вердене', 'Вердена'],
                ['Асгарде', 'Асгарда'],
            ]

            let nameGenerators = [
                () => {
                    return 'Битва от ' + getDate();
                },
                () => {
                    return 'Резня от ' + getDate();
                },
                () => {
                    return 'Потасовка ' + getDate();
                },
                () => {
                    return 'Битва при ' + randomElement(locations)[0];
                },
                () => {
                    return 'Последствия пьянства у ' + randomElement(locations)[1];
                },
                () => {
                    return 'Дед с батей подрались у ' + randomElement(locations)[1];
                },
            ];

            return randomElement(nameGenerators)();
        }

        let generateNameBtn = document.getElementById('generate-game-name-btn');
        let nameInput = document.getElementById('name');

        generateNameBtn.addEventListener('click', () => {
            nameInput.value = generateName();
        });

        let updateSelectedPlayers = () => {
            playersList.textContent = '';
            playersInput.textContent = '';
            playersInputForm.textContent = '';

            let hasSelected = false;

            for (let player of players) {
                if (player.selected) {
                    let playerDiv = document.createElement('div');
                    playerDiv.innerHTML = player.login;
                    playerDiv.addEventListener('click', () => {
                        player.selected = false;

                        updateSelectedPlayers();
                    });
                    playerDiv.setAttribute('style', 'cursor: pointer;');

                    playersList.appendChild(playerDiv);

                    //
                    let playerOption = document.createElement('option');
                    playerOption.innerHTML = player.login;
                    playerOption.setAttribute('value', player.id);
                    playerOption.setAttribute('selected', '1');

                    playersInputForm.appendChild(playerOption);

                    hasSelected = true;
                } else {
                    let playerOption = document.createElement('option');
                    playerOption.innerHTML = player.login;
                    playerOption.setAttribute('value', player.id);

                    playersInput.appendChild(playerOption);
                }
            }

            if (hasSelected) {
                playersList.classList.remove('d-none');
            } else {
                playersList.classList.add('d-none')
            }
        };

        let addPlayerButton = document.getElementById('add-player-btn');
        addPlayerButton.onclick = () => {
            let playerInput = document.getElementById('player');

            if (!playerInput.value)
                return;

            let player = players.find(p => p.id === playerInput.value);

            if (!player)
                return;

            player.selected = true;

            let selected = players.filter(p => p.selected);
            if (selected.length < 2 || selected.length > 5) {
                playersInput.setCustomValidity('Должно быть от 2 до 5 игроков');
            } else {
                playersInput.setCustomValidity("");
            }

            updateSelectedPlayers();
        };

        let checkbox = document.getElementById('time-control');
        let timeControlSettings = document.getElementById('time-control-settings');
        checkbox.addEventListener('click', () => {
            if (checkbox.checked) {
                timeControlSettings.classList.remove('d-none')
            } else {
                timeControlSettings.classList.add('d-none');
            }
        });

        document.getElementById('game-create-form').addEventListener('submit', (evt) => {
            let selected = players.filter(p => p.selected);

            if (selected.length < 2 || selected.length > 5) {
                evt.preventDefault();

                playersInput.setCustomValidity('Должно быть от 2 до 5 игроков');
                playersInput.reportValidity();
            }
        });
    });
</script>
</body>
</html>
